*{
    margin: 0;
    padding: 0;
}
li{
    
    padding: 20px;
    margin-left: 2em;
    display:  inline-block;
}
header{
    background-color: rgba(10, 161, 48, 0.475);
    color: white;
}
.left{
    float: left;
    width: 49vw;
    border: 0.5vw solid black;
    height: 85vh;
background-color: aquamarine;
}
.right{
    float: right;
    height: 85vh;
    background-color: rgba(255, 0, 0, 0.632);
    width: 49vw;
    border: 0.5vw solid black;

}